<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/products/{id}(id=${product.getId()})}" th:object="${product}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="price">Enter price: </label>
    <input type="text" th:field="*{price}" id="price"/>
    <!--div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{compound}">Compound Error</div-->
    <br/>
    <label for="calories">Enter calories: </label>
    <input type="text" th:field="*{calories}" id="calories"/>
    <br/>
    <label for="compound">Enter compound: </label>
    <input type="text" th:field="*{compound}" id="compound"/>
    <div style="color:red" th:if="${#fields.hasErrors('compound')}" th:errors="*{compound}">Compound Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>