<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Name: ' + product.getName()}">VALUE</p>
<p th:text="${'Price: ' + product.getPrice()}">VALUE</p>
<p th:text="${'Calories: ' + product.getCalories()}">VALUE</p>
<p th:text="${'Compound: ' + product.getCompound()}">VALUE</p>

<a th:href="@{/products/{id}/edit(id=${product.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>